<!DOCTYPE html>
<html>
<head>
  <title>ClickaviaTestJob</title>
  <%= stylesheet_link_tag    "parsers/application", media: "all", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <%= javascript_include_tag "parsers/application", "data-turbolinks-track" => false %>
</body>
</html>
