<form action="#">
  <input type="date" name="start_date" value="<%= filters.start_date %>">
  <input type="date" name="end_date" value="<%= filters.end_date %>">
  <input type="submit" value="Парсить">
</form>