<h1>Listing flights</h1>

<div class="filters">

</div>
<table id="flights-table">
  <tr>
    <th>Аэропорт вылета</th>
    <th>Аэропорт прилета</th>
    <th>Код рейса</th>
    <th>Дата вылета</th>
    <th>Время вылета</th>
    <th>Время прилета</th>
    <th>Наличие мест</th>
  </tr>
</table>
