%table
  %thead
    %tr.filters
      %th
      %th
      %th
        %input{type: 'search', name: 'code'}
      %th
      %th
      %th
      %th
    %tr
      %th Аэропорт вылета
      %th Аэропорт прилета
      %th Код рейса
      %th Дата вылета
      %th Время вылета
      %th Время прилета
      %th Наличие мест
  %tbody
